{
  "extends": "airbnb",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "function-paren-newline": 0,
    "arrow-parens": 0,
    "implicit-arrow-linebreak": 0,

    "react/destructuring-assignment": 0
  }
}
